body {
    margin: 0;
    padding: 0;
}


.header-nav{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 3em;
}

.hero {
    margin-top: 30px;
    padding-top: 80px;
    height: 45vw;
    width: 100%;
    position: relative;
}



/*.hero-image{
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/


h1.navbar-brand{
    float: left;
    padding: 10px 10px 10px 30px;
    /*font-weight: 900;*/
    text-decoration: underline;
}

.navbar-content {
    float: right;
}

/*.list-menu {
    border-right: 1px solid black;
    text-align: center;
}*/

.social-icons {
    font-size: 30px;
    padding: 10px 30px 10px 10px;
    color: whitesmoke;
}

.about-home {
    padding-top: 30px;
}

.recipes-home {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

/* Check those three classes because they are not working */
.container-main { 
    margin-top: 100px;
}

section.container {
    margin-top: 60px;
}

p.subhead::first-letter {
    initial-letter: 2;
}

.second-row {
    margin-top: 30px;
}

.carousel-box {
    margin-top: 60px;
}

.contact-page {
    margin-top: 100px;
}

.content-page{
    margin-top: 30px;
}

footer {
    position: relative;
    background-color: black;
}

section.contact {
    padding-top: 30px;
}

/*-----------------------------------------------------------------------Recipes page*/
.recipe-container{
    margin-top: 50px;
    padding-top: 0px 10px 0px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.ingredients-list{
    padding: auto;
    list-style-type: none;
    line-height: 2;

}

.list-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.first-row {
    margin-top: 30px;
}

.second-row {
    margin-top: 30px;
}

.third-row {
    margin-top: 30px;
}




/*media queries*/
@media only screen and (max-width: 768px) {
   .about-home {
       margin-top: 60px;
   }
   h1.navbar-brand{
       margin-right: 20vw;
   }
   
   .hero {
       height: 70vh;
       margin-top: 15px;
   }
   
   .hero img{
       height: 70vh;
   }
}