body {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

html body{
    height: 100vh;
}


.header-nav{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 3em;
}

.hero {
    margin-top: 30px;
    padding-top: 80px;
    height: 35vw;
    width: 100%;
    position: relative;
}

.image-home-mobile{
    width: 100%;
    margin: 0 auto;
}



/*.hero-image{
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/


h1.navbar-brand{
    float: left;
    padding: 10px 10px 10px 30px;
    margin-left: 30px;

}

.navbar-content {
    float: right;
}

/*.list-menu {
    border-right: 1px solid black;
    text-align: center;
}*/

.social-icons {
    font-size: 30px;
    padding: 10px 30px 10px 10px;
    color: whitesmoke;
}

.about-home {
    padding-top: 30px;
}

.recipes-home {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

/* Check those three classes because they are not working */
.container-main { 
    margin-top: 100px;
}

section.container {
    margin-top: 60px;
}

p.subhead::first-letter {
    initial-letter: 2;
}

.image-about {
    width: 300px;;
}

.second-row {
    margin-top: 30px;
}

.carousel-box {
    margin-top: 60px;
}

.contact-page {
    margin-top: 100px;
}

.content-page{
    margin-top: 30px;
}

footer {
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

section.contact {
    padding-top: 30px;
}

/*-----------------------------------------------------------------------Recipes page*/
.description {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 30px;
}

.recipe-container{
    margin-top: 50px;
    padding-top: 0px 10px 0px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.col-ingredients {
    margin: auto;
}

ul.ingredients-list{
    text-align: center;
    margin: 10px auto;
    list-style-type: none;
    line-height: 2;
    width: 100%;
    padding: 0;

}

.description-recipe {
    text-align: justify;
}


.list-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
}

.first-row {
    margin-top: 30px;
}

.second-row {
    margin-top: 30px;
}

.third-row {
    margin-top: 30px;
}

.icon-top {
    font-size: 25px;
}
.fa.fa-arrow-circle-o-up:before {
    color: #55595c;
}


/*-------------------------------------------------------Contact page*/

.container-contact-image{
  position: relative;
  max-width: 900px; 
  margin: 0 auto; 
  padding: 0;
}

.container-contact-image .contact-details {
  position: absolute; 
  top: 40%;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 30px; 
  
}

.contact-details h3 {
    color: lightgray;
    letter-spacing: 5px;
}

.contact-details address {
    color: lightgray;
}

/*--------------------------------------------------------media queries*/

@media only screen and (max-width: 1200px) {
    .card-body {
        height: 98.8px;
    }
}

@media only screen and (max-width: 768px) {
   .about-home {
       margin-top: 730px;
   }
   h1.navbar-brand{
       margin-right: 20vw;
   }
   
   .hero {
       max-height: 700px;
       margin-top: 15px;
    } 
   
    /* not working*/
   button.navabr-toggler {
       margin-right: 10px;
   }


}

